@import "reset";
@import "grid";
@import "fonts";


*{
	box-sizing: border-box;
	outline: none;
}

body {
	margin:0;
	padding:0;
	font-family: 'latolight';
	display:flex;
	justify-content: center;
	line-height: 1.5;

}
h1{
	font-size: 10vh;
	font-family: 'existencelight';
	color: white;
	span{
		color: #9f449b;
	}
}


.container{
	width: 700px;
	//border: 1px solid red;

}
.hexagon{
	
	display: flex;
	align-items: center;
	justify-content: center;
	

.index{
	z-index: 2;
}


}
.header_background{
	background-image: url('../images/background.jpg');
	display:flex;
	justify-content:center;
	background-size: cover;
}
.header_height{
	height:100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.header_height_down{
	height:100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.header_icons_flex_down{
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		width: 150%;
		height: 100%;
		opacity: .7;

		&:hover{
			opacity: 1;
		}
	}



}
.header_icons_flex_up{
	display: flex;
	justify-content: center;

	img{
		width: 150%;
		height: 100%;
		opacity: .7;
		&:hover{
			opacity: 1;
		}
	}


}
#header{
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	h2{
	font-size: 5vh;
	color: white;
	font-family: 'latohairline';
}
	p{
		color: white;
		font-size: 3vh;
		font-family: 'latohairline';
	}
	
	#header_icons{
		height: 45%;
		display: flex;
	}
}
.nav_background{
	display:flex;
	justify-content:center;

}
nav{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	 //position: fixed;
	  top: 0;
	  z-index: 1;
	h1{
		font-size: 5vh;
		color: #676767;
	}
	#nav_logo{
		
	}
	#nav_text{
		ul{
			float: right;
		}
		li{
			display: inline-block;
			text-decoration: none;
			padding: 4px;
			a {
				font-size: 0.7em;
				color: #676767;
				text-decoration: none;
				font-family: 'latolight';
				transition: 0.3s;
				&:hover{
					color:  #9f449b;
				}
			}
		}
	}
	
}



.border{position:relative;width:200px;height:80px;z-index: 20;}
.border2{position:relative;width:240px;height:100px;z-index: 20;}
.border:before, .border2:before, .border:after, .border2:after, .border>:first-child:before, .border2>:first-child:before, .border>:first-child:after, .border2>:first-child:after {
    position:absolute;
    width:20px; height: 20px;
    border-color:#9f449b; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}
.border:before, .border2:before {top:0;left:0;border-width: 0px 0 0 0px}
.border:after, .border2:after {top:0;right:0;border-width: 1px 1px 0 0}
.border>:first-child:before, .border2>:first-child:before {bottom:0;right:0;border-width: 0 0px 0px 0}
.border>:first-child:after, .border2>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}



.icons_background{
	display:flex;
	justify-content:center;
	background:#eeeeee;
}
#icons{
	height: 60vh;	
	display: flex;
	align-items: center;
	justify-content: center;

}
#icons_left{
	display: flex;
	align-items: center;
	justify-content: center;
	p{
		font-family:'latolight';
		font-size: 2vh;
		color: #676767;
		text-align: center;
	}
	h3{
		font-family:'latolight';
		font-size: 3vh;
		color: #676767;
	}
	
}
#icons_right{
	display: flex;
	align-items: center;
	justify-content: center;
	p{
		font-family:'latolight';
		font-size: 2vh;
		color: #676767;
		text-align: center;
	}
	h3{
		font-family:'latolight';
		font-size: 3vh;
		color: #676767;
	}
}
.icons_inside{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1vh;
}
.about_background{
	display:flex;
	justify-content:center;
}
.about{
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	h1{
		color: #676767;
		font-size: 6vh;


	}
	p{
		color: #676767;
		font-size: 2vh;
		line-height: 1.7;
	}
	#about{

		#about_text{
			display: flex;
			align-items: center;
			justify-content: center;



	
		}	

	
	}	
	#about_content{
		display: flex;

		#about_mac{
			img{
				width: 100%;
			}

	
		}
		#about_mac_content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-left: 1vw;
			button{
			background:#9f449b;
			box-shadow:none;
		    border: none;
		    border-radius: 4px;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
		    transition: 0.15s;
		    &:hover{
		    	box-shadow:  0 4px 2px -2px gray;
		    }
		}


	
		}

	
	}	


}




.motto_background{
	display:flex;
	justify-content:center;
	background-image: url('../images/background2.jpg');
	background-size: cover;
}
#motto{
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.motto{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	p{
		font-family:'latolight';
		font-size: 4vh;
		color: white;
	}
	
}
.cloud_text{
	width: 8vw;
}
.study{
	width: 8vw;
}



.team_background{
	display:flex;
	justify-content:center;
	background:#ffffff;
}
.team_1{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
.social_team{
	display:flex;
	justify-content:space-between;
	align-items:center;
	img{
		padding: 13%;
	}

}
.team{
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	h1{
		color: #676767;
		font-size: 6vh;
	}

	img{
			width: 80%;
		}
	#team{
		#our_team{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	

		#arrows{
			display: flex;
			justify-content: center;
			align-items: center;

			#arrow_left{

		
			}
			#arrow_right{

		
			}

		
		}
	
	
	}	


}



.skills_background{
	display:flex;
	justify-content:center;
	background:#ffffff;
}
.skills{
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	h1{
		color: #676767;
		font-size: 6vh;
	}
	.diagram_flex{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#skills{

		#our_skills{
			display: flex;
			justify-content: center;
			align-items: center;
	
		}	

	
	}

	#skills_diagrams{
		width: 100%;
		display: flex;
		justify-content: space-between;
					.colors{
							width: 100%;
							height: 2vh;
						}


			.diagram_flex2{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			.diagram_flex_up{
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
			}

		#left_diagrams{
			padding: 5%;
			.web_design{
				.grey{
					background:#f0f0f0;
					position: relative;
					width: 100%;
					height: 100%;
					.violet{
						position:absolute;
						background:#9f449b;
						width: 0%;
						height: 100%;

					}

				}
	
			}
			.HTML{
				.grey{
					background:#f0f0f0;
					position: relative;
					width: 100%;
					height: 100%;
					.violet{
						position:absolute;
						background:#9f449b;
						width: 0%;
						height: 100%;

					}

				}

	
			}

	
		}
		#right_diagrams{
			padding: 5%;
			.graphic_design{
				.grey{
					background:#f0f0f0;
					position: relative;
					width: 100%;
					height: 100%;
					.violet{
						position:absolute;
						background:#9f449b;
						width: 0%;
						height: 100%;

					}

				}

	
			}
			.UL{
				.grey{
					background:#f0f0f0;
					position: relative;
					width: 100%;
					height: 100%;
					.violet{
						position:absolute;
						background:#9f449b;
						width: 0%;
						height: 100%;

					}

				}

	
			}

	
		}

	
	}
	

}

.scores_background{
	display:flex;
	justify-content:center;
	background:#eeeeee;
}
.scores_inside{
	width:100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-around;
}
.scores{
	height: 70vh;

	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-around;
		p{
			color: black;
			font-size: 5vh;
		}
		h5{
			font-size: 2vh;
		}
		.scores_flex{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
	#scores{
		width: 100%;
		#scores_left{

		}
		#scores_right{
	

	
		}	

	
	}	
	#clients{
		img{
			width: 15%;
		}
		#clients_recomendations{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items:center;
			text-align: center;
			font-family: 'latoregular';
			font-size: 2vh;
			h4{
				font-size: 3vh;
				width: 80%;
				font-family: 'latolight';
			}

			}

	
	}
	

}





.portfolio_background{
	display:flex;
	justify-content:center;
}
.portfolio{
	height: 120vh;
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: space-around;
	h1{
		color: #676767;
		font-size: 6vh;
	}
	.photo_flex{
						display: flex;
		flex-direction: column;	
		align-items: center;
		justify-content: space-around;
			}

	#portfolio{
		#portfolio_container{
			display: flex;
		flex-direction: column;	
		align-items: center;
		justify-content: space-around;
		}
		#our_portfolio{
		display: flex;
		align-items: center;
		justify-content: center;
	
		}	
		.portfolio_buttons{
			display: flex;
		align-items: center;
		justify-content: center;
		button{
			background: none;
			box-shadow:none;
		    border: 1px solid #676767;
		    border-radius: 4px;
		    color: #676767;
		    padding: 5px 12px;
		    margin: 5% 1% 3% 1%;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 8px;
		    transition: 0.15s;
		    &:hover{
		    	box-shadow:  0 4px 2px -2px gray;
		    	background:#9f449b;
		    	color: white;
		    	border: 1px solid #9f449b;

		    }
		}


		}

	
	}	
	#photos_up{
		display: flex;
	
		img{
				width: 90%;
				
				
			}


	
	}
	#photos_down{
		img{
				width: 90%;
			}

		

	
	}
	#button_portfolio{
		button{
			background:#9f449b;
			box-shadow:none;
		    border: none;
		    border-radius: 4px;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
		    transition: 0.15s;
		    &:hover{
		    	box-shadow:  0 4px 2px -2px gray;
		    }
		}
		
	}
	

}




.contact_background{
	display:flex;
	justify-content:center;
}

.contact{
	height: 100vh;
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: space-around;
	h1{
		color: #676767;
		font-size: 6vh;
	}
	#contact_form{
	display: flex;
	justify-content: center;
	}
	form{
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #676767;
    box-sizing: border-box;
	}
	input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #676767;
	}
	textarea {
    width: 100%;
  	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #676767;
	}

		#input-submit{
			background:#9f449b;
			box-shadow:none;
		    border: none;
		    border-radius: 4px;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
		    transition: 0.15s;
		    &:hover{
		    	box-shadow:  0 4px 2px -2px gray;
		    }
		}
	}
	#touch{

		#get_in_touch{
			display: flex;
			justify-content: center;
			align-items: center;
	
		}	

	
	}	
	#contact_form{

		#form{
			

	
		}
		#contact_id{
			padding-left: 2vw;
			p{
				font-size: 3vh; 
			}	
			.regular_contact{
				font-family: 'latoregular';
			}
			.icons_contact{
				display: flex;
				justify-content: space-around;
				width: 50%;
				img{
					opacity: .7;
					transition: 0.15s;

						&:hover{
							opacity: 1;
							transform: scale(1.2);
						}
				}
			}
		}
	
	}
	#footer_logo{

		#Bhagaskara_logo{
			

	
		}
		
	}
	

}







.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  border-top: 0;
  background: white;
  padding: 1% 10% 1% 10% ;
}













